/* CSS MENU*/

#nav {
	padding:0; 
	margin:0; 
	list-style:none;
	letter-spacing: 0.6px;
	height:36px; 
	position:relative; 
	z-index:500; 
	font-family: "Tahoma", arial, verdana, sans-serif;
	width: 820px;

}
.navigacja {
	margin:auto;
	width: 820px;
}
#nav li.top {
	display:block; 
	float:left;
}

#nav A:focus {
	outline:none;
}
#nav li a.top_link {
	display:block; 
	float:left; 
	height:36px; 
	line-height:35px;
	color:#fff; 
	text-decoration:none; 
	font-size:11px; 
	font-weight:bold; 
	padding:3px 0 0 12px; 
	cursor:pointer;
	background: url(../images/menu/normal.jpg);
}
#nav li a.top_link span {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:36px;
	background:url(../images/normal.jpg) right top;
}
#nav li a.top_link span.down {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:36px; 
	background:url(../images/normal.jpg) no-repeat right top;
}
#nav li a.top_link:hover {
	color:#fdc959; 
	background: url(../images/normal_over.jpg) no-repeat;
}
#nav li a.top_link:hover span {
	background:url(../images/normal_over.jpg) no-repeat right top;
}
#nav li a.top_link:hover span.down {
	background:url(../images/normal_over.jpg) no-repeat right top;
}


/* Default list styling */

#nav li:hover {
	position:relative; 
	z-index:200;
}

/* keep the 'next' level invisible by placing it off screen. */
#nav ul, 
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul {
	position:absolute; 
	left:-9999px; 
	top:-9999px; 
	width:0; 
	height:0; 
	margin:0; 
	padding:0; 
	list-style:none;
}

#nav li:hover ul.sub {
	left:0; 
	top:36px; 
	background: #c2a5b2; 
	padding:3px; 
	border-left:1px solid #553e47;
	border-right:1px solid #553e47; 
	border-bottom:1px solid #553e47; 
	white-space:nowrap;
	width:132px; 
	height:auto; 
	z-index:300;
}
#nav li:hover ul.sub li	{
	display:block; 
	height:20px; 
	position:relative; 
	float:left; 
	width:132px; 
	font-weight:normal;
}
#nav li:hover ul.sub li a {
	display:block; 
	font-size:11px; 
	height:20px; 
	width:132px; 
	line-height:20px; 
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
}

#nav li:hover ul.sub li a:hover  {
	background:#916c7b; 
	color:#fff;
}

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul {
	left:90px; 
	top:-4px; 
	background: #c2a5b2;
	padding:3px; 
	border:1px solid #553e47; 
	white-space:nowrap; 
	width:132px; 
	z-index:400; 
	height:auto;
}


#nav li:hover ul li:hover lia{
	left:0; 
	background: #fff; 
	border-left:1px solid #553e47;
	border-right:1px solid #553e47; 
	border-bottom:1px solid #553e47; 
	white-space:nowrap;
	width:132px; 
	height:auto; 
	z-index:300;
}


