/* CSS by softDK */
* { 
	margin: 0; 
	padding: 0 
}
body {
	background: #fff url("../images/bg.jpg") repeat-x;
	font-family:"Tahoma", "Lucida Grande", sans-serif;
	font-size:12px;
	color: #000;
}
img{
	border:0;
}
hr{
	background-color: #f5f8e7;
	height: 2px;
	border:1px solid #f5f8e7;
	margin:0 0 20px 0;
}
A:focus {
	outline:none;
}
a:link, a:visited {
	text-decoration: none;
	color:#46540d;
}
a:hover {
	color:#efb322;
}
.header{
	width:1005px;
	height: 290px;
	margin:auto;
}
.header_left {
	float:left;
	width:373px;
	height:269px;
	font-size: 13px;
}
.header_right {
	float:right;
	width: 632px;
	height:269px;
}
.header_clear {
	clear:both;
}
.menu{
	width:1005px;
	height:42px;
	margin:auto;
	padding:00 0 0 0;
	background:url('../images/menu_bg.jpg');
}
.content{
	width:1011px;
	margin:auto;
}
.content_t{
	width:1011px;
	margin:25px 0 0 0;
	background:url('../images/bg_content_t.jpg');
	height:68px;
}
.content_c{
	width:1011px;
	background:url('../images/bg_content_c.jpg') repeat-y;
}
.content_b{
	width:1011px;
	background:url('../images/bg_content_b.jpg');
	height:28px;
}
h1{
	padding:45px 0 0 0;
	text-align:center;
	font-size: 17px;
	color:#46540d;
	font-weight:normal;
}
.linki{
	background: url('../images/bg_linki.jpg');
	width:1013px;
	height:132px;
	margin:auto;
}
.footer{
	margin:auto;
	height:136px;
	background:url('../images/bg_footer.jpg') repeat-x;
}

/* --------------------------------------------------------------------------------------- site start------------------------- */
.kat{
	width:820px;
	margin:auto;
	padding:35px 0 20px 0;
}
.kat_left {
	float:left;
	width:380px;
	font-size: 13px;
}
.kat_right {
	float:right;
	width: 380px;
}
.kat_clear {
	clear:both;
}
.kat_t{
	width:380px;
	height:66px;
	background:url('../images/kat_t.jpg') no-repeat;
}
.kat_c{
	width:380px;
	background:url('../images/kat_c.jpg') repeat-y;
}
.kat_b{
	width:380px;
	height:68px;
	background:url('../images/kat_b.jpg') no-repeat;
}
.kat_img{
	width:170px;
	height:114px;
	margin: auto;
}
.kat_title{
	margin:auto;
	padding:25px 0 0 0;
	color:#46540d;
	font-weight:bold;
	font-size:15px;
	text-align:center;
}
.kat_txt{
	width:240px;
	height:80px;
	margin:auto;
	text-align:center;
	color:#46540d;
}
.kat_button{
	margin:15px 0 0 85px;
	background: transparent url("../images/button.png") no-repeat;
	height:28px;
	border:solid 0 #fff;
	width:211px;
	color:#fff;
	font-size: 11px;
	text-transform:uppercase;
}

/* --------------------------------------------------------------------------------------- content dane ------------------------- */
.dane{
	width:900px;
	margin:auto;
	padding:35px 0 20px 0;
}
.dane_left {
	float:left;
	width:400px;
	font-size: 20px;
	color:#46540d;
}
h3{
	font-size:20px;
	background:url('../images/bg_h.jpg') no-repeat;
	width:400px;
	height:40px;
	padding:6px 0 0 10px;
	font-weight:normal;
}
.dane_right {
	float:right;
	width: 500px;
	color:#46540d;
	text-align:justify;
	line-height: 20px;
	margin:0 0 20px 0;
}
.dane_clear {
	clear:both;
}
h2{
	font-size: 12px;
	text-align:right;
	padding: 10px 0px 0 0;
}

/* ---------------------------------------------------------------------------------------------------  linki ----------------------------*/
.link_lisa{
	margin:10px auto auto auto;
	padding:1px 0 0 0;
	background: #303030;
}
.link_lisa_data{
	text-align:justify;
	padding:0 15px 0 15px;
}
.link_list ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size:11px;
}
.link_list ul {
	float: left;
}
.link_list ul li {
	float: left;
	margin:29px 2px 10px 42px;
	width:150px;
	height: 80px;
	text-decoration: none;
	display: block;
	color: #999;
	background:#fff;
	text-align:center;
	line-height: 20px;
}
.link_list ul a:link, .link_list ul a:visited {
	width:150px;
	height:80px;
	text-decoration: none;
	display: block;
	color: #999;
 	border: 0px solid #bbcb6d;
	background:#fff;
	text-align:center;
	line-height: 20px;
}
.link_list ul a:hover {
	color:#fff;
 	border: 0px solid #677039;
}
.link_list_clear {
	clear:both;
}

/* ---------------------------------------------------------------------------------------------------  footer ----------------------------*/
.footer_dane a:focus {
	outline:none;
}
.footer_dane a:link, .footer_dane a:visited {
	text-decoration: none;
	color: #fff;
}
.footer_dane a:hover {
	color:#46540d;
}
.footer_dane{
	width:1010px;
	margin:auto;
	padding:105px 0 0 0;
}
.footer_left {
	float:left;
	width:500px;
	color:#46540d;
	font-size:13px;
}
.footer_right {
	float:right;
	width: 500px;
	color:#fff;
	text-align:right;
	font-size:11px;
}
.footer_clear {
	clear:both;
}

/* ------------------------------------------------------------------------------------------------------------  formularz ----------------------------*/
.registration{
	font-size:11px;
	color:#E4D6CD;
	margin:auto;
	width:900px;
}
.registration_p{
	padding:8px 0 8px 0;
	border-bottom: 1px dashed #e2ecba;
	color: #ddd;
}

.regis_p{
	padding: 0 15px 0 5px;
}
.registration_label{
	color:#46540d;
	margin: 0;
	padding:0 10px 0 0;;
	margin: 7px 0 0 0;
	text-align:right;
	width:200px;
	float:left;
	text-transform:uppercase;
}
.registration_text {
	font-size: 12px;
	color:#444;
	margin:3px;
	height:16px;
	border:solid 0 #fff;
	padding: 3px 8px;
	width:187px;
	margin-left:60px;
}
.registration_text {
	background: #f5f8e7;
	border: 1px solid #b5bd8e;
}
.registration_text_s {
	font-size: 12px;
	color:#444;
	margin:3px;
	height:16px;
	border:solid 0 #fff;
	padding: 3px 8px;
	width:40px;
}
.reg_smal{
	color:#46540d;
	padding:0 2px 0 0;;
	margin: 7px 0 0 10px;
	text-align:right;
	text-transform:uppercase;	
}
.registration_text_s {
	background: #f5f8e7;
	border: 1px solid #b5bd8e;
}
.registration_button{
	margin:1px 0 0 135px;
	background: transparent url("../images/button.png") no-repeat;
	height:24px;
	border:solid 0 #fff;
	
	color:#fff;
	font-size: 10px;
	text-transform:uppercase;
}
.registration_chec{
	margin: 6px 10px 0 5px;
}

